* {
    margin: 0%;
}

body {
    margin: 0%;
}

.main-header {
    top: 0%;
}

.logo1 {
    float: left;
    padding: 10px;
}

.college-name {
    text-align: center;
    top: 40px;
    font-size: 30px;
}

.logo {
    float: right;
    top: 0px;
    padding: 10px;
    position: absolute;
    margin-left: 1160px;
}

.tagline {
    font-size: 10px;
}

.navbar {
    overflow: hidden;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 150px;
    align-items: center;
    align-content: center;
}

.navbar img {
    width: 220px;
    height: 110px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

.about {
    margin: 10px;
}

.main-image {
    top: 200px;
    margin-right: 20px;
}

.image2 {
    margin-left: 750px;
    position: absolute;
    top: 250px;
    border: 10px solid rgba(247, 245, 245, 0.527);
}

.image3 {
    position: absolute;
    top: 550px;
    margin-right: 18px;
    margin-left: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
.about-title {
    font-size: 55px;
    top: 220px;
    position: absolute;
    margin-left: 160px;
    color: white;
    font-family: 'Merienda', cursive;
}

.para {
    text-align: center;
    color: white;
    position: absolute;
    top: 320px;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 500px;
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Teko&family=Titillium+Web:ital,wght@1,700&display=swap');
.professor-title {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px;
}

.avatar:hover {
    transform: scale(1.2);
}

.instrument-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-content: center;
    margin: 70px;
}

.A1,
.B2,
.C3,
.D4,
.E5,
.F6,
.G7,
.H8,
.I9,
.J10,
.K11,
.L12 {
    width: 120px;
    height: 120px;
    border: 300px rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    margin: 30px;
}

.grid {
    align-content: center;
    justify-content: center;
}